* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gotham Bold, sans-serif;
}

.pink {
  color: #D35266;
}

.grey {
  color: #888888;
}

.black {
  color: #383838;
}

.header {
  text-align: center;
  padding: 20px;
}

.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #888888;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
}

li {
  display: inline;
}

.topnav {
  width: 100%;

  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.topnav a {
  text-align: center;
  padding: 14px 16px;
  color: #888888;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #D35266;
}

.buttonOne {
  background-color: #D35266; /* pink */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonTwo {
  background-color: #383838;
  border: none;
  color: #888888;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  text-align: center;
  padding: 15px 32px;
}


select {
  text-align: center;
  padding: 15px 32px;
  background-color: white;
}

.icon {
  border-radius: 50%;
}

.behance {
  background-color: #D35266;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.column {
  float: left;
}

/* right and left column */
.column.side {
  width: 15%;
}

/* Middle column */
.column.middle {
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-left: 1px solid #888888;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.searchboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D35266;
  padding-left: 19%;
  padding-right: 19%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.electronics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card {
  display: flex;
  width: 30%;
}

.container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.price {
  float: right;
 margin-left: 3px;
}

.iconnav {
  float: right;
  align-items: center;
  justify-content: space-between;
}

/* Responsive layout on mobile */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
.ads {
padding-top: 10px;
padding-bottom: 10px;
}

.footer {
  margin: auto;
  background-color: #888888;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.behanceFooter {
  background-color: #888888;
  text-align: center;
  margin-right: 10px;
}

.finalFooter {
  justify-content: center;
  text-align: center;
}

#hr {
  border: 1px solid #D35266;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.side {
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cardSearch {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 10px;
}

.container {
  display: flex;
}

.imageSearch {
  display: flex;
}